In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([1,3,5, np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
dates = pd.date_range('20180101',periods=6)
dates

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6,4), index = dates, columns = list('ABCD'))
df

                   A         B         C         D
2018-01-01 -0.543616 -1.431973 -0.108224  0.889759
2018-01-02  1.259211 -0.173566  0.080792 -0.700823
2018-01-03  1.210841 -0.659391  0.143729 -3.925264
2018-01-04 -1.317140 -0.646508 -0.038537 -0.133073
2018-01-05  0.650822  0.137956  0.733567  0.428592
2018-01-06 -0.562209 -0.413915 -0.493674 -0.609818